{% extends "base.html" %}

{% block title %}Solution - Eduba{% endblock %}

{% block extra_styles %}
    <style>
        main {
            text-align: center;
            align-items: center;
            padding-top: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        #leftPane, #centerPane, #rightPane {
            margin: 0.5rem;
            width: 30%;
            min-height: 200px;
            /* border: 1px dashed #aaa; */
            height: 100%;
        }

        #leftPane {
            flex: 1;
            align-items: flex-start;
            text-align: left;
            
            p {
                margin-top: 1rem;
                background-color: #f9f9f9;
                padding: 1rem;
                border-radius: 15px;
            }
        }

        #centerPane {
            flex: 1.5;
            display: flex;
            flex-direction: column;

            .solution {
                padding: 1rem;
                min-height: 200px;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;

                .solution-text {
                    width: 100%;
                    padding: 0.5rem;
                }
            }

            #explainationCon {
                .explaination-text {
                    margin-top: 0.5rem;
                    padding: 1rem;
                }
            }
        }
        #rightPane {
            flex: 1;
            text-align: right;

            .description {
                margin-top: 1rem;
                padding: 1rem;

                p {
                    padding-top: 0.5rem;
                }
            }
        }


        
    </style>
{% endblock %}

{% block content %}
    <section id="leftPane">
        <div id="problemStatementBox">
            <h3>Problem Statement</h3>
            <p id="userProblemStatement"></p>
        </div>
    </section>
    <section id="centerPane">
        <div id="solutionCon" class="solution">
            <h3>Solution</h3>
            
        </div>
        <div id="explainationCon" class="solution">
             <h3>Explanation</h3>
        </div>
    </section>
    <section id="rightPane">
        <div class="description">
            <h3>Concept</h3>
            <p id="concept_title"></p>
        </div>
        <div class="description">
            <h3>Difficulty Level</h3>
            <p id="difficulty-level"></p>
        </div>
    </section>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='./scripts/response.js') }}"></script>
{% endblock %}